<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="VetoshkinLanguageEntities" connectionString="metadata=res://*/VetoshkinLangModel.csdl|res://*/VetoshkinLangModel.ssdl|res://*/VetoshkinLangModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L54BSR8;initial catalog=VetoshkinLanguage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>